@import url('https://fonts.cdnfonts.com/css/cascadia-code');
@import 'tailwindcss';

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--font-cascadia-code: 'Cascadia Code', sans-serif;
}

body {
	width: 100%;
	height: 100vh;
	scroll-behavior: smooth;
	font-family: 'Nunito', sans-serif;
	font-optical-sizing: auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type='number'] {
	appearance: textfield;
	-moz-appearance: textfield;
}
