@import url('https://fonts.cdnfonts.com/css/cascadia-code');
@import 'tailwindcss';

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	/* --color-*: initial;

	--color-zinc-50: oklch(98.5% 0 0);
	--color-zinc-100: oklch(96.7% 0.001 286.375);
	--color-zinc-200: oklch(92% 0.004 286.32);
	--color-zinc-300: oklch(87.1% 0.006 286.286);
	--color-zinc-400: oklch(70.5% 0.015 286.067);
	--color-zinc-500: oklch(55.2% 0.016 285.938);
	--color-zinc-600: oklch(44.2% 0.017 285.786);
	--color-zinc-700: oklch(37% 0.013 285.805);
	--color-zinc-800: oklch(27.4% 0.006 286.033);
	--color-zinc-900: oklch(21% 0.006 285.885);
	--color-zinc-950: oklch(14.1% 0.005 285.823); */

	--font-cascadia-code: 'Cascadia Code', sans-serif;

	--color-white: #fff;
	--color-black: #000;

	--color-grey-hover: oklch(96.7% 0.001 286.375);
	--color-zinc-700: oklch(21% 0.006 285.885);
	--color-zinc-300: oklch(87.1% 0.006 286.286);
	--color-zinc-300-dark: oklch(37.3% 0.034 259.733);

	--color-primary: oklch(48.8% 0.243 264.376);
	--color-primary-dark: oklch(80.9% 0.105 251.813);

	--color-danger: oklch(63.7% 0.237 25.331);
	--color-warning: oklch(79.5% 0.184 86.047);
	--color-success: oklch(72.3% 0.219 149.579);
}
