name: Release

on:
  push:
    branches:
      - master

concurrency: ${{ github.workflow }}-${{ github.ref }}

permissions:
  id-token: write
  contents: read

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 22.x

      - name: Install Dependencies
        run: npm install

      - name: Build Packages
        run: npm run components.build

      - name: Publish to npm
        uses: changesets/action@v1
        with:
          publish: npm run changesets:release
          version: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
